html {
    font-size: 62.5%;
}
//16*.625= 10 --> rem will be equiv to px i.e. 1.2rem = 12px

body {
 //   background-color: $dark-blue;
    font-display: Helvetica, sans-serif, arial;
    font-size: $m-size;  
}
button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
.is-active {
    font-weight: bold;
}